@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap')
body {
    margin: 0;
    font-family:'Nunito Sans', sans-serif;
}
* {
    box-sizing: border-box;
}
.main-banner-section {
    width: 100%;
    display: block;
}
.main-banner-section .your-class {
    width: 100%;
}
.slick-list {
    height: 100%;
}
.slide img {
    width: 100%;
    object-fit: cover;
}
.team-box-section img {
    width: 100%;
}

/* top header part */

.second-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile-hide {
    display: block;
}
.desktop-main-menu {
    display: none;
}
.header-menu-part ul li a {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #A9A9A9;
    text-decoration: none
}
.header-menu-part ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 38px;
    color: #62707c;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.header-menu-part ul li {
    padding : 18px 0; 
}
.header-menu-part ul li:last-child {
    margin-left: 6px;
    padding : 18px 32px;
    background: #00578E;
}
.header-menu-part ul li:last-child a {
    color: #FFFFFF;
}

@media only screen and (min-width: 992px) {
    .hamburger {
        display: none;
    }
    .mobile-hide {
        display: none;
    }
    .desktop-main-menu {
        display: -ms-inline-flexbox;
        display: inline-flex;
        align-items: center;
    }
    
}



/* top header part */